## Preparing Data for Machine Learning

### Data Import and Loading

In [116]:
import pandas as pd
import numpy as np

In [117]:
data = pd.read_csv("Amazon Sale Report.csv")

C:\Users\thech\AppData\Local\Temp\ipykernel_6636\3820059884.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Amazon Sale Report.csv")

In [118]:
data

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [119]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

### - Data Profiling and Summary Statistics

In [120]:
data.head(3)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN

In [121]:
data['fulfilled-by'].unique()

array(['Easy Ship', nan], dtype=object)

In [122]:
data['Courier Status'].unique()

array([nan, 'Shipped', 'Cancelled', 'Unshipped'], dtype=object)

In [123]:
data['Courier Status'].fillna("Not Completed", inplace=True)

C:\Users\thech\AppData\Local\Temp\ipykernel_6636\2808219036.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Courier Status'].fillna("Not Completed", inplace=True)

In [124]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      128975 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [125]:
data[data.duplicated()]

Empty DataFrame
Columns: [index, Order ID, Date, Status, Fulfilment, Sales Channel , ship-service-level, Style, SKU, Category, Size, ASIN, Courier Status, Qty, currency, Amount, ship-city, ship-state, ship-postal-code, ship-country, promotion-ids, B2B, fulfilled-by, Unnamed: 22]
Index: []

[0 rows x 24 columns]

In [126]:
data['Order ID'].value_counts()

Order ID
171-5057375-2831560    12
403-4984515-8861958    12
404-9932919-6662730    11
403-0173977-3041148    11
408-3317403-1729937    10
                       ..
403-8464685-9792368     1
407-2378184-3732358     1
403-0816822-3188305     1
402-8261465-0622733     1
408-7436540-8728312     1
Name: count, Length: 120378, dtype: int64

In [127]:
data.loc[data['Order ID'] == '403-4984515-8861958', ['Order ID', 'SKU', 'Date', 'Fulfilment', 'Category', 'Status', 'Amount']]

,Order ID,SKU,Date,Fulfilment,Category,Status,Amount
31737,403-4984515-8861958,JNE3792-KR-XXXL,04-11-22,Amazon,kurta,Shipped,432.0
31738,403-4984515-8861958,JNE3764-KR-XXXL,04-11-22,Amazon,kurta,Shipped,487.0
31739,403-4984515-8861958,JNE3503-KR-XXXL,04-11-22,Amazon,kurta,Shipped,318.0
31740,403-4984515-8861958,J0308-DR-XXXL,04-11-22,Amazon,Western Dress,Shipped,665.0
31741,403-4984515-8861958,JNE3702-KR-XXXL,04-11-22,Amazon,kurta,Shipped,342.0
31742,403-4984515-8861958,JNE3741-KR-XXXL,04-11-22,Amazon,kurta,Shipped,432.0
31743,403-4984515-8861958,JNE3634-KR-XXXL,04-11-22,Amazon,kurta,Shipped,511.0
31744,403-4984515-8861958,SET433-KR-NP-XXXL,04-11-22,Amazon,Set,Shipped,666.0
31745,403-4984515-8861958,JNE3636-KR-XXXL,04-11-22,Amazon,kurta,Shipped,459.0
31746,403-4984515-8861958,JNE3633-KR-XXXL,04-11-22,Amazon,kurta,Shipped,459.0
31747,403-4984515-8861958,JNE3813-KR-XXXL,04-11-22,Amazon,kurta,Shipped,635.0
31748,403-4984515-8861958,JNE3638-KR-XXXL,04-11-22,Amazon,kurta,Shipped,517.0

In [128]:
unique_data = data['Unnamed: 22'].unique()

In [129]:
print(unique_data)

[nan False]

In [130]:
data['currency'].fillna("INR", inplace=True)

C:\Users\thech\AppData\Local\Temp\ipykernel_6636\1059774145.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['currency'].fillna("INR", inplace=True)

In [131]:
location_check = data[['ship-state', 'ship-city', 'ship-postal-code', 'ship-country']]

In [132]:
location_check[location_check['ship-state'].isnull()]

       ship-state ship-city  ship-postal-code ship-country
1871          NaN       NaN               NaN          NaN
1872          NaN       NaN               NaN          NaN
8752          NaN       NaN               NaN          NaN
11215         NaN       NaN               NaN          NaN
13252         NaN       NaN               NaN          NaN
15688         NaN       NaN               NaN          NaN
16787         NaN       NaN               NaN          NaN
18351         NaN       NaN               NaN          NaN
22930         NaN       NaN               NaN          NaN
24986         NaN       NaN               NaN          NaN
30379         NaN       NaN               NaN          NaN
37963         NaN       NaN               NaN          NaN
37964         NaN       NaN               NaN          NaN
60986         NaN       NaN               NaN          NaN
63040         NaN       NaN               NaN          NaN
73675         NaN       NaN               NaN          NaN
73746         NaN       NaN               NaN          NaN
73771         NaN       NaN               NaN          NaN
73772         NaN       NaN               NaN          NaN
73911         NaN       NaN               NaN          NaN
80011         NaN       NaN               NaN          NaN
80092         NaN       NaN               NaN          NaN
80455         NaN       NaN               NaN          NaN
84008         NaN       NaN               NaN          NaN
84757         NaN       NaN               NaN          NaN
104201        NaN       NaN               NaN          NaN
106498        NaN       NaN               NaN          NaN
124215        NaN       NaN               NaN          NaN
124357        NaN       NaN               NaN          NaN
124358        NaN       NaN               NaN          NaN
124359        NaN       NaN               NaN          NaN
125385        NaN       NaN               NaN          NaN
126620        NaN       NaN               NaN          NaN

In [133]:
data['fulfilled-by'].value_counts()

fulfilled-by
Easy Ship    39277
Name: count, dtype: int64

In [134]:
data.drop(['fulfilled-by'], axis=1, inplace=True)

In [135]:
data['ship-country'].unique()

array(['IN', nan], dtype=object)

In [136]:
data['Unnamed: 22'].unique()

array([nan, False], dtype=object)

In [137]:
data.fillna({'Unnamed: 22': 'unknown'}, inplace=True)

In [138]:
data.drop(['promotion-ids'], axis=1, inplace=True)

In [139]:
data.dropna(subset=['ship-state', 'ship-city', 'ship-postal-code', 'ship-country'], inplace=True)

In [140]:
data.drop(['ship-country'], axis=1, inplace=True)

In [159]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128942 entries, 0 to 128974
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128942 non-null  int64
 1   Order ID            128942 non-null  object
 2   Date                128942 non-null  object
 3   Status              128942 non-null  object
 4   Fulfilment          128942 non-null  object
 5   Sales Channel       128942 non-null  object
 6   ship-service-level  128942 non-null  object
 7   Style               128942 non-null  object
 8   SKU                 128942 non-null  object
 9   Category            128942 non-null  object
 10  Size                128942 non-null  object
 11  ASIN                128942 non-null  object
 12  Courier Status      128942 non-null  object
 13  Qty                 128942 non-null  int64
 14  currency            128942 non-null  object
 15  Amount              128898 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  B2B                 128942 non-null  bool
 20  Unnamed: 22         128942 non-null  object
dtypes: bool(1), float64(2), int64(2), object(16)
memory usage: 20.8+ MB

In [142]:
location_check['ship-city'].value_counts()

ship-city
BENGALURU              11217
HYDERABAD               8074
MUMBAI                  6126
NEW DELHI               5795
CHENNAI                 5421
                       ...
shimoga                    1
Bangluru                   1
Dombiwali                  1
Begumpet, Hyderabad        1
Badlapur , Thane           1
Name: count, Length: 8955, dtype: int64

In [143]:
location_check[location_check['ship-city'] == 'BENGALURU']

       ship-state  ship-city  ship-postal-code ship-country
1       KARNATAKA  BENGALURU          560085.0           IN
19      KARNATAKA  BENGALURU          560017.0           IN
21      KARNATAKA  BENGALURU          560040.0           IN
28      KARNATAKA  BENGALURU          560037.0           IN
53      KARNATAKA  BENGALURU          560047.0           IN
...           ...        ...               ...          ...
128852  KARNATAKA  BENGALURU          560024.0           IN
128912  KARNATAKA  BENGALURU          560037.0           IN
128939  KARNATAKA  BENGALURU          560035.0           IN
128941  KARNATAKA  BENGALURU          560102.0           IN
128942  KARNATAKA  BENGALURU          560102.0           IN

[11217 rows x 4 columns]

In [144]:
location_check

          ship-state    ship-city  ship-postal-code ship-country
0        MAHARASHTRA       MUMBAI          400081.0           IN
1          KARNATAKA    BENGALURU          560085.0           IN
2        MAHARASHTRA  NAVI MUMBAI          410210.0           IN
3         PUDUCHERRY   PUDUCHERRY          605008.0           IN
4         TAMIL NADU      CHENNAI          600073.0           IN
...              ...          ...               ...          ...
128970     TELANGANA    HYDERABAD          500013.0           IN
128971       HARYANA     GURUGRAM          122004.0           IN
128972     TELANGANA    HYDERABAD          500049.0           IN
128973       Gujarat        Halol          389350.0           IN
128974  CHHATTISGARH       Raipur          492014.0           IN

[128975 rows x 4 columns]

In [155]:
data[data['Amount'].isna()][['Amount', 'Qty', 'SKU', 'Status', 'ship-city']].head(120)

,Amount,Qty,SKU,Status,ship-city
363,NaN,0,SET226-KR-PP-L,Cancelled,BAGESHWAR
3632,NaN,1,JNE2058-KR-339-L,Shipped,Surat
3634,NaN,1,JNE3311-KR-A-XS,Shipped,Surat
3637,NaN,2,BL020-71RED,Shipped,Surat
3971,NaN,0,J0250-SKD-XS,Cancelled,KARNAL
6744,NaN,0,BTM002-B-XXL,Cancelled,BENGALURU
6793,NaN,0,BTM002-B-XXL,Cancelled,BENGALURU
6802,NaN,0,BTM002-B-XXL,Cancelled,BENGALURU
6832,NaN,0,BTM002-B-XXL,Cancelled,BENGALURU
7057,NaN,0,J0155-KR-XS,Cancelled,SAMASTIPUR
7084,NaN,0,J0024-KR-XXXL,Cancelled,MUMBAI
10844,NaN,0,JNE3557-KR-XL,Cancelled,COIMBATORE
13732,NaN,1,BTM030-NP-S,Shipped,Surat
16157,NaN,0,J0184-KR-A-L,Cancelled,BASUDEBPUR PURBA MEDINIPUR DISTRICT
16162,NaN,0,J0184-KR-A-L,Cancelled,BASUDEBPUR PURBA MEDINIPUR DISTRICT
18676,NaN,1,JNE3225-KR-XXXL,Shipped,Surat
20813,NaN,2,J0184-KR-S,Shipped,SURAT
28434,NaN,0,SET226-KR-PP-L,Cancelled,Naharlagun
30603,NaN,0,SET043-KR-NP-XXL,Cancelled,CHINNAMANUR
34692,NaN,0,J0086-DR-XL,Cancelled,GODHRA
43746,NaN,1,JNE3441-KR-E-M,Shipped,SURAT
59207,NaN,0,BL100-XXL,Cancelled,HYDERABAD
59208,NaN,0,BL100-XXL,Cancelled,HYDERABAD
63785,NaN,0,JNE3447-KR-XL,Cancelled,NAGPUR
64307,NaN,0,JNE3780-KR-XS,Cancelled,PIMPRI CHINCHWAD
64504,NaN,0,JNE3662-TP-M,Cancelled,SILCHAR
64633,NaN,0,BL091-XL,Cancelled,AHMEDABAD
81587,NaN,0,JNE2294-KR-A-XS,Cancelled,KOTA
84876,NaN,1,JNE3366-KR-1053-A-XS,Shipped,Surat
84879,NaN,1,JNE2251-KR-537-S,Shipped,Surat
84881,NaN,1,J0100-DR-S,Shipped,Surat
85414,NaN,0,SET083-KR-PP-L,Cancelled,NEW DELHI
90521,NaN,0,JNE3364-KR-1051-XS,Cancelled,RAMANATHAPURAM
91852,NaN,0,JNE3909-KR-L,Cancelled,BHIMAVARAM
92943,NaN,0,J0374-KR-M,Cancelled,AZAMGARH
94169,NaN,0,SAR060,Cancelled,TIRUPATI
94676,NaN,0,JNE3891-TP-XXL,Cancelled,SURAT
99019,NaN,0,J0073-KR-S,Cancelled,MYSURU
100683,NaN,0,JNE3897-KR-M,Cancelled,KALYAN
102001,NaN,0,SAR182,Cancelled,NAGARKURNOOL
102461,NaN,0,JNE3483-KR-M,Cancelled,KALYAN
102546,NaN,0,JNE3403-KR-XXL,Cancelled,JAIPUR
107194,NaN,0,JNE2145-KR-A-L,Cancelled,THIRUVANANTHAPURAM
124675,NaN,0,J0034-SET-S,Cancelled,Bhagalpur

In [151]:
mean_amount_per_sku = data.groupby('SKU')['Amount'].transform('mean')

In [181]:
mean_amount_per_sku

0          633.765714
1          416.050495
2          332.553077
3          806.907556
4          626.720000
             ...
128970     468.396806
128971    1032.800000
128972     736.793478
128973    1124.000000
128974     652.285000
Name: Amount, Length: 128942, dtype: float64

In [152]:
data['Amount'] = data['Amount'].fillna(mean_amount_per_sku)

In [184]:
sku_missing = data.groupby('SKU')['Amount'].apply(lambda x: x.isna().all())
print(sku_missing[sku_missing])

Series([], Name: Amount, dtype: bool)

In [185]:
data.loc[data['Amount'].isna(), ['Amount', 'SKU']]

Empty DataFrame
Columns: [Amount, SKU]
Index: []

In [183]:
data = data.dropna(subset=['Amount'])

In [180]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128898 entries, 0 to 128974
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128898 non-null  int64
 1   Order ID            128898 non-null  object
 2   Date                128898 non-null  object
 3   Status              128898 non-null  object
 4   Fulfilment          128898 non-null  object
 5   Sales Channel       128898 non-null  object
 6   ship-service-level  128898 non-null  object
 7   Style               128898 non-null  object
 8   SKU                 128898 non-null  object
 9   Category            128898 non-null  object
 10  Size                128898 non-null  object
 11  ASIN                128898 non-null  object
 12  Courier Status      128898 non-null  object
 13  Qty                 128898 non-null  int64
 14  currency            128898 non-null  object
 15  Amount              128898 non-null  float64
 16  ship-city           128898 non-null  object
 17  ship-state          128898 non-null  object
 18  ship-postal-code    128898 non-null  float64
 19  B2B                 128898 non-null  bool
 20  Unnamed: 22         128898 non-null  object
dtypes: bool(1), float64(2), int64(2), object(16)
memory usage: 20.8+ MB

## Implement Linear Regression Without Using Libraries