## Preparing Data for Machine Learning

### Data Import and Loading

In [111]:
import pandas as pd
import numpy as np
import os

In [112]:
username = os.getlogin()
file_name = 'Amazon Sale Report.csv'

possible_paths = [
    os.path.join(os.getcwd(), file_name),  # Current working directory
    f"C:\\Users\\{username}\\Downloads\\{file_name}"  # Downloads folder
]

data = None

for path in possible_paths:
    try:
        data = pd.read_csv(path)
        print(f"‚úÖ Successfully loaded file from: {path}")
        break
    except FileNotFoundError:
        continue

if data is None:
    print("‚ùå File not found in either location.")

print(f"Loaded {data.shape[0]} records")
print(data.head())

‚úÖ Successfully loaded file from: c:\Users\thech\Documents\My Learning\AISOC\Amazon Sale Report.csv
Loaded 128975 records
   index             Order ID      Date                        Status  \
0      0  405-8078784-5731545  04-30-22                     Cancelled
1      1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  04-30-22                       Shipped
3      3  403-9615377-8133951  04-30-22                     Cancelled
4      4  407-1069790-7240320  04-30-22                       Shipped

  Fulfilment Sales Channel  ship-service-level    Style              SKU  \
0   Merchant      Amazon.in           Standard   SET389   SET389-KR-NP-S
1   Merchant      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
2     Amazon      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
3   Merchant      Amazon.in           Standard    J0341       J0341-DR-L
4     Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL

        Category  ... currency  Amount    ship-city   ship-state  \
0            Set  ...      INR  647.62       MUMBAI  MAHARASHTRA
1          kurta  ...      INR  406.00    BENGALURU    KARNATAKA
2          kurta  ...      INR  329.00  NAVI MUMBAI  MAHARASHTRA
3  Western Dress  ...      INR  753.33   PUDUCHERRY   PUDUCHERRY
4            Top  ...      INR  574.00      CHENNAI   TAMIL NADU

  ship-postal-code  ship-country  \
0         400081.0            IN
1         560085.0            IN
2         410210.0            IN
3         605008.0            IN
4         600073.0            IN

                                       promotion-ids    B2B  fulfilled-by  \
0                                                NaN  False     Easy Ship
1  Amazon PLCC Free-Financing Universal Merchant ...  False     Easy Ship
2       IN Core Free Shipping 2015/04/08 23-48-5-108   True           NaN
3                                                NaN  False     Easy Ship
4                                                NaN  False           NaN

  Unnamed: 22
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 24 columns]

C:\Users\thech\AppData\Local\Temp\ipykernel_11420\1739949686.py:13: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(path)

In [148]:
# Exploring the data
print(f"Shape: {data.shape}")
print(f"Columns: {list(data.columns)}")

# Check for problems
print(f"\nüîç Data Quality Check:")
print(f"Missing values: {data.isnull().sum().sum()}")
print(f"Duplicates: {data.duplicated().sum()}")

Shape: (128898, 21)
Columns: ['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ', 'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN', 'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code', 'B2B', 'Unnamed: 22']

üîç Data Quality Check:
Missing values: 0
Duplicates: 0

In [ ]:
# Converting column to a proper datetime type
date_col = None 
for col in data.columns:
    if 'date' in col.lower() or 'time' in col.lower():
        date_col = col 
        break

if date_col:
    data[date_col] = pd.to_datetime(data[date_col])
    print(f"‚úÖ Converted '{date_col}' to datetime")

‚úÖ Converted 'Date' to datetime

C:\Users\thech\AppData\Local\Temp\ipykernel_11420\2103143771.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data[date_col] = pd.to_datetime(data[date_col])

In [114]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

### - Data Profiling and Summary Statistics

In [115]:
data.head(3)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN

In [116]:
data['fulfilled-by'].unique()

array(['Easy Ship', nan], dtype=object)

In [117]:
data['Courier Status'].unique()

array([nan, 'Shipped', 'Cancelled', 'Unshipped'], dtype=object)

In [118]:
data['Courier Status'].fillna("Not Completed", inplace=True)

C:\Users\thech\AppData\Local\Temp\ipykernel_11420\2808219036.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Courier Status'].fillna("Not Completed", inplace=True)

In [119]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      128975 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [120]:
data[data.duplicated()]

Empty DataFrame
Columns: [index, Order ID, Date, Status, Fulfilment, Sales Channel , ship-service-level, Style, SKU, Category, Size, ASIN, Courier Status, Qty, currency, Amount, ship-city, ship-state, ship-postal-code, ship-country, promotion-ids, B2B, fulfilled-by, Unnamed: 22]
Index: []

[0 rows x 24 columns]

In [121]:
data['Order ID'].value_counts()

Order ID
171-5057375-2831560    12
403-4984515-8861958    12
404-9932919-6662730    11
403-0173977-3041148    11
408-3317403-1729937    10
                       ..
403-8464685-9792368     1
407-2378184-3732358     1
403-0816822-3188305     1
402-8261465-0622733     1
408-7436540-8728312     1
Name: count, Length: 120378, dtype: int64

In [122]:
data.loc[data['Order ID'] == '403-4984515-8861958', ['Order ID', 'SKU', 'Date', 'Fulfilment', 'Category', 'Status', 'Amount']]

,Order ID,SKU,Date,Fulfilment,Category,Status,Amount
31737,403-4984515-8861958,JNE3792-KR-XXXL,04-11-22,Amazon,kurta,Shipped,432.0
31738,403-4984515-8861958,JNE3764-KR-XXXL,04-11-22,Amazon,kurta,Shipped,487.0
31739,403-4984515-8861958,JNE3503-KR-XXXL,04-11-22,Amazon,kurta,Shipped,318.0
31740,403-4984515-8861958,J0308-DR-XXXL,04-11-22,Amazon,Western Dress,Shipped,665.0
31741,403-4984515-8861958,JNE3702-KR-XXXL,04-11-22,Amazon,kurta,Shipped,342.0
31742,403-4984515-8861958,JNE3741-KR-XXXL,04-11-22,Amazon,kurta,Shipped,432.0
31743,403-4984515-8861958,JNE3634-KR-XXXL,04-11-22,Amazon,kurta,Shipped,511.0
31744,403-4984515-8861958,SET433-KR-NP-XXXL,04-11-22,Amazon,Set,Shipped,666.0
31745,403-4984515-8861958,JNE3636-KR-XXXL,04-11-22,Amazon,kurta,Shipped,459.0
31746,403-4984515-8861958,JNE3633-KR-XXXL,04-11-22,Amazon,kurta,Shipped,459.0
31747,403-4984515-8861958,JNE3813-KR-XXXL,04-11-22,Amazon,kurta,Shipped,635.0
31748,403-4984515-8861958,JNE3638-KR-XXXL,04-11-22,Amazon,kurta,Shipped,517.0

In [123]:
unique_data = data['Unnamed: 22'].unique()

In [124]:
print(unique_data)

[nan False]

In [125]:
data['currency'].fillna("INR", inplace=True)

C:\Users\thech\AppData\Local\Temp\ipykernel_11420\1059774145.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['currency'].fillna("INR", inplace=True)

In [126]:
location_check = data[['ship-state', 'ship-city', 'ship-postal-code', 'ship-country']]

In [127]:
location_check[location_check['ship-state'].isnull()]

       ship-state ship-city  ship-postal-code ship-country
1871          NaN       NaN               NaN          NaN
1872          NaN       NaN               NaN          NaN
8752          NaN       NaN               NaN          NaN
11215         NaN       NaN               NaN          NaN
13252         NaN       NaN               NaN          NaN
15688         NaN       NaN               NaN          NaN
16787         NaN       NaN               NaN          NaN
18351         NaN       NaN               NaN          NaN
22930         NaN       NaN               NaN          NaN
24986         NaN       NaN               NaN          NaN
30379         NaN       NaN               NaN          NaN
37963         NaN       NaN               NaN          NaN
37964         NaN       NaN               NaN          NaN
60986         NaN       NaN               NaN          NaN
63040         NaN       NaN               NaN          NaN
73675         NaN       NaN               NaN          NaN
73746         NaN       NaN               NaN          NaN
73771         NaN       NaN               NaN          NaN
73772         NaN       NaN               NaN          NaN
73911         NaN       NaN               NaN          NaN
80011         NaN       NaN               NaN          NaN
80092         NaN       NaN               NaN          NaN
80455         NaN       NaN               NaN          NaN
84008         NaN       NaN               NaN          NaN
84757         NaN       NaN               NaN          NaN
104201        NaN       NaN               NaN          NaN
106498        NaN       NaN               NaN          NaN
124215        NaN       NaN               NaN          NaN
124357        NaN       NaN               NaN          NaN
124358        NaN       NaN               NaN          NaN
124359        NaN       NaN               NaN          NaN
125385        NaN       NaN               NaN          NaN
126620        NaN       NaN               NaN          NaN

In [128]:
data['fulfilled-by'].value_counts()

fulfilled-by
Easy Ship    39277
Name: count, dtype: int64

In [129]:
data.drop(['fulfilled-by'], axis=1, inplace=True)

In [130]:
data['ship-country'].unique()

array(['IN', nan], dtype=object)

In [131]:
data['Unnamed: 22'].unique()

array([nan, False], dtype=object)

In [132]:
data.fillna({'Unnamed: 22': 'unknown'}, inplace=True)

In [133]:
data.drop(['promotion-ids'], axis=1, inplace=True)

In [134]:
data.dropna(subset=['ship-state', 'ship-city', 'ship-postal-code', 'ship-country'], inplace=True)

In [135]:
data.drop(['ship-country'], axis=1, inplace=True)

In [136]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128942 entries, 0 to 128974
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128942 non-null  int64
 1   Order ID            128942 non-null  object
 2   Date                128942 non-null  object
 3   Status              128942 non-null  object
 4   Fulfilment          128942 non-null  object
 5   Sales Channel       128942 non-null  object
 6   ship-service-level  128942 non-null  object
 7   Style               128942 non-null  object
 8   SKU                 128942 non-null  object
 9   Category            128942 non-null  object
 10  Size                128942 non-null  object
 11  ASIN                128942 non-null  object
 12  Courier Status      128942 non-null  object
 13  Qty                 128942 non-null  int64
 14  currency            128942 non-null  object
 15  Amount              121149 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  B2B                 128942 non-null  bool
 20  Unnamed: 22         128942 non-null  object
dtypes: bool(1), float64(2), int64(2), object(16)
memory usage: 20.8+ MB

In [137]:
location_check['ship-city'].value_counts()

ship-city
BENGALURU              11217
HYDERABAD               8074
MUMBAI                  6126
NEW DELHI               5795
CHENNAI                 5421
                       ...
shimoga                    1
Bangluru                   1
Dombiwali                  1
Begumpet, Hyderabad        1
Badlapur , Thane           1
Name: count, Length: 8955, dtype: int64

In [138]:
location_check[location_check['ship-city'] == 'BENGALURU']

       ship-state  ship-city  ship-postal-code ship-country
1       KARNATAKA  BENGALURU          560085.0           IN
19      KARNATAKA  BENGALURU          560017.0           IN
21      KARNATAKA  BENGALURU          560040.0           IN
28      KARNATAKA  BENGALURU          560037.0           IN
53      KARNATAKA  BENGALURU          560047.0           IN
...           ...        ...               ...          ...
128852  KARNATAKA  BENGALURU          560024.0           IN
128912  KARNATAKA  BENGALURU          560037.0           IN
128939  KARNATAKA  BENGALURU          560035.0           IN
128941  KARNATAKA  BENGALURU          560102.0           IN
128942  KARNATAKA  BENGALURU          560102.0           IN

[11217 rows x 4 columns]

In [139]:
location_check

          ship-state    ship-city  ship-postal-code ship-country
0        MAHARASHTRA       MUMBAI          400081.0           IN
1          KARNATAKA    BENGALURU          560085.0           IN
2        MAHARASHTRA  NAVI MUMBAI          410210.0           IN
3         PUDUCHERRY   PUDUCHERRY          605008.0           IN
4         TAMIL NADU      CHENNAI          600073.0           IN
...              ...          ...               ...          ...
128970     TELANGANA    HYDERABAD          500013.0           IN
128971       HARYANA     GURUGRAM          122004.0           IN
128972     TELANGANA    HYDERABAD          500049.0           IN
128973       Gujarat        Halol          389350.0           IN
128974  CHHATTISGARH       Raipur          492014.0           IN

[128975 rows x 4 columns]

In [140]:
data[data['Amount'].isna()][['Amount', 'Qty', 'SKU', 'Status', 'ship-city']].head(120)

      Amount  Qty                  SKU     Status   ship-city
8        NaN    0  SET200-KR-NP-A-XXXL  Cancelled   HYDERABAD
29       NaN    0  JNE2132-KR-398-XXXL  Cancelled    GUWAHATI
65       NaN    0       JNE3373-KR-XXL  Cancelled       Dahod
84       NaN    0         JNE3510-KR-M  Cancelled   HYDERABAD
95       NaN    0         JNE3405-KR-L  Cancelled        PUNE
...      ...  ...                  ...        ...         ...
1615     NaN    0         JNE3518-KR-M    Shipped   RISHIKESH
1617     NaN    0    SET397-KR-NP-XXXL  Cancelled      BHILAI
1642     NaN    0         JNE3581-KR-M  Cancelled   RISHIKESH
1643     NaN    0         JNE3518-KR-M  Cancelled   RISHIKESH
1657     NaN    0    SET233-KR-PP-XXXL  Cancelled  CHANDIGARH

[120 rows x 5 columns]

In [141]:
mean_amount_per_sku = data.groupby('SKU')['Amount'].transform('mean')

In [142]:
mean_amount_per_sku

0          633.765714
1          416.050495
2          332.553077
3          806.907556
4          626.720000
             ...
128970     468.396806
128971    1032.800000
128972     736.793478
128973    1124.000000
128974     652.285000
Name: Amount, Length: 128942, dtype: float64

In [143]:
data['Amount'] = data['Amount'].fillna(mean_amount_per_sku)

In [144]:
sku_missing = data.groupby('SKU')['Amount'].apply(lambda x: x.isna().all())
print(sku_missing[sku_missing])

SKU
BL020-71RED             True
BL091-XL                True
BL100-XXL               True
BTM002-B-XXL            True
BTM030-NP-S             True
J0024-KR-XXXL           True
J0034-SET-S             True
J0073-KR-S              True
J0086-DR-XL             True
J0100-DR-S              True
J0155-KR-XS             True
J0184-KR-A-L            True
J0184-KR-S              True
J0250-SKD-XS            True
J0374-KR-M              True
JNE2058-KR-339-L        True
JNE2145-KR-A-L          True
JNE2251-KR-537-S        True
JNE2294-KR-A-XS         True
JNE3225-KR-XXXL         True
JNE3311-KR-A-XS         True
JNE3364-KR-1051-XS      True
JNE3366-KR-1053-A-XS    True
JNE3403-KR-XXL          True
JNE3441-KR-E-M          True
JNE3447-KR-XL           True
JNE3483-KR-M            True
JNE3557-KR-XL           True
JNE3662-TP-M            True
JNE3780-KR-XS           True
JNE3891-TP-XXL          True
JNE3897-KR-M            True
JNE3909-KR-L            True
SAR060                  True
SAR182                  True
SET043-KR-NP-XXL        True
SET083-KR-PP-L          True
SET226-KR-PP-L          True
Name: Amount, dtype: bool

In [145]:
data.loc[data['Amount'].isna(), ['Amount', 'SKU']]

        Amount                   SKU
363        NaN        SET226-KR-PP-L
3632       NaN      JNE2058-KR-339-L
3634       NaN       JNE3311-KR-A-XS
3637       NaN           BL020-71RED
3971       NaN          J0250-SKD-XS
6744       NaN          BTM002-B-XXL
6793       NaN          BTM002-B-XXL
6802       NaN          BTM002-B-XXL
6832       NaN          BTM002-B-XXL
7057       NaN           J0155-KR-XS
7084       NaN         J0024-KR-XXXL
10844      NaN         JNE3557-KR-XL
13732      NaN           BTM030-NP-S
16157      NaN          J0184-KR-A-L
16162      NaN          J0184-KR-A-L
18676      NaN       JNE3225-KR-XXXL
20813      NaN            J0184-KR-S
28434      NaN        SET226-KR-PP-L
30603      NaN      SET043-KR-NP-XXL
34692      NaN           J0086-DR-XL
43746      NaN        JNE3441-KR-E-M
59207      NaN             BL100-XXL
59208      NaN             BL100-XXL
63785      NaN         JNE3447-KR-XL
64307      NaN         JNE3780-KR-XS
64504      NaN          JNE3662-TP-M
64633      NaN              BL091-XL
81587      NaN       JNE2294-KR-A-XS
84876      NaN  JNE3366-KR-1053-A-XS
84879      NaN      JNE2251-KR-537-S
84881      NaN            J0100-DR-S
85414      NaN        SET083-KR-PP-L
90521      NaN    JNE3364-KR-1051-XS
91852      NaN          JNE3909-KR-L
92943      NaN            J0374-KR-M
94169      NaN                SAR060
94676      NaN        JNE3891-TP-XXL
99019      NaN            J0073-KR-S
100683     NaN          JNE3897-KR-M
102001     NaN                SAR182
102461     NaN          JNE3483-KR-M
102546     NaN        JNE3403-KR-XXL
107194     NaN        JNE2145-KR-A-L
124675     NaN           J0034-SET-S

In [146]:
data = data.dropna(subset=['Amount'])

In [147]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128898 entries, 0 to 128974
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128898 non-null  int64
 1   Order ID            128898 non-null  object
 2   Date                128898 non-null  object
 3   Status              128898 non-null  object
 4   Fulfilment          128898 non-null  object
 5   Sales Channel       128898 non-null  object
 6   ship-service-level  128898 non-null  object
 7   Style               128898 non-null  object
 8   SKU                 128898 non-null  object
 9   Category            128898 non-null  object
 10  Size                128898 non-null  object
 11  ASIN                128898 non-null  object
 12  Courier Status      128898 non-null  object
 13  Qty                 128898 non-null  int64
 14  currency            128898 non-null  object
 15  Amount              128898 non-null  float64
 16  ship-city           128898 non-null  object
 17  ship-state          128898 non-null  object
 18  ship-postal-code    128898 non-null  float64
 19  B2B                 128898 non-null  bool
 20  Unnamed: 22         128898 non-null  object
dtypes: bool(1), float64(2), int64(2), object(16)
memory usage: 20.8+ MB

## Implement Linear Regression Without Using Libraries

##### FEATURE ENGINEERING

In [151]:
# Find target column (sales/amount/revenue)
target_col = None
possible_targets = ['sales', 'amount', 'revenue', 'total'] 
for col in data.columns:
    if col.lower() in possible_targets:
        target_col = col
        break

if target_col is None:
    #Use first numeric column as dataset
    numeric_cols = data.select_dtypes(include=[np.number]).columns
    target_col = numeric_cols[0]

print(f"‚úÖ Target variable: '{target_col}'")

‚úÖ Target variable: 'Amount'

In [156]:
# Create business-smart features from date column
if date_col:
    data['Month'] = data[date_col].dt.month
    data['Is_Holiday_Season'] = data['Month'].isin([11,12]).astype(int)
    data['Is_Weekend'] = data[date_col].dt.dayofweek.isin([5,6]).astype(int)
print("‚úÖ Created time-based features")

# Encode categories
categorical_cols = data.select_dtypes(include=['object']).columns
categorical_cols = [col for col in categorical_cols if col != date_col]

for col in categorical_cols:
    n_unique = data[col].nunique()
    if n_unique <= 20: 
        # one-hot encode columns with less than 20 unique values
        data = pd.get_dummies(data, columns=[col], drop_first=True)
        print(f"‚úÖ One-hot encoded '{col}' with {n_unique} categories")
    else:
        # Frequency encode columns with more than 20 unique values
        freq_encoding = data[col].value_counts() / len(data)
        data[col + '_freq_enc'] = data[col].map(freq_encoding)
        data.drop(columns=[col], inplace=True)
        print(f"‚úÖ Frequency encoded '{col}' with {n_unique} categories")


print(f"Engineered: {len(data.columns)} features")

‚úÖ Created time-based features
Engineered: 52 features

In [155]:
print(data.head())

   index       Date  Qty  Amount  ship-postal-code    B2B  Month  \
0      0 2022-04-30    0  647.62          400081.0  False      4
1      1 2022-04-30    1  406.00          560085.0  False      4
2      2 2022-04-30    1  329.00          410210.0   True      4
3      3 2022-04-30    0  753.33          605008.0  False      4
4      4 2022-04-30    1  574.00          600073.0  False      4

   Is_Holiday_Season  Is_Weekend  Order ID_freq_enc  ...  Size_XL  Size_XS  \
0                  0           1           0.000008  ...    False    False
1                  0           1           0.000008  ...    False    False
2                  0           1           0.000008  ...     True    False
3                  0           1           0.000008  ...    False    False
4                  0           1           0.000008  ...    False    False

   Size_XXL  ASIN_freq_enc  Courier Status_Not Completed  \
0     False       0.000279                          True
1     False       0.000846                         False
2     False       0.000109                         False
3     False       0.002265                          True
4     False       0.000132                         False

   Courier Status_Shipped  Courier Status_Unshipped  ship-city_freq_enc  \
0                   False                     False            0.047518
1                    True                     False            0.086991
2                    True                     False            0.009798
3                   False                     False            0.001924
4                    True                     False            0.042057

   ship-state_freq_enc  Unnamed: 22_unknown
0             0.172656                 True
1             0.134378                 True
2             0.172656                 True
3             0.002708                 True
4             0.089063                 True

[5 rows x 52 columns]