## Housing Project
#### Data from Kaggle.com

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('American_Housing_Data_20231209.csv')

In [4]:
data

,Zip Code,Price,Beds,Baths,Living Space,Address,City,State,Zip Code Population,Zip Code Density,County,Median Household Income,Latitude,Longitude
0,10013,3999000.0,2,3,1967,74 GRAND ST APT 3,New York,New York,29563,20967.9,New York,370046.0,40.72001,-74.00472
1,10013,3999000.0,2,3,1967,74 GRAND ST APT 3,New York,New York,29563,20967.9,New York,370046.0,40.72001,-74.00472
2,10014,1650000.0,1,1,718,140 CHARLES ST APT 4D,New York,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
3,10014,760000.0,3,2,1538,38 JONES ST,New York,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
4,10014,1100000.0,1,1,600,81 BEDFORD ST APT 3F,New York,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39976,98199,2495000.0,4,4,3380,2626 27TH AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39977,98199,2295000.0,4,4,2878,3215 32ND AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39978,98199,950000.0,3,2,1380,3257 22ND AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39979,98199,425000.0,2,1,856,3711 26TH PL W APT 102,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39980,98199,1150000.0,3,3,2840,2911 25TH AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223

In [11]:
data.tail(10)

,Zip Code,Price,Beds,Baths,Living Space,Address,City,State,Zip Code Population,Zip Code Density,County,Median Household Income,Latitude,Longitude
39971,98199,2849000.0,5,5,3696,3236 26TH AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39972,98199,1800000.0,5,3,3280,2825 29TH AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39973,98199,1075000.0,3,2,2500,3511 43RD AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39974,98199,948000.0,3,2,2160,3855 26TH AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39975,98199,2549950.0,5,4,3441,3122 W MANSELL ST,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39976,98199,2495000.0,4,4,3380,2626 27TH AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39977,98199,2295000.0,4,4,2878,3215 32ND AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39978,98199,950000.0,3,2,1380,3257 22ND AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39979,98199,425000.0,2,1,856,3711 26TH PL W APT 102,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39980,98199,1150000.0,3,3,2840,2911 25TH AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39981 entries, 0 to 39980
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Zip Code                 39981 non-null  int64
 1   Price                    39981 non-null  float64
 2   Beds                     39981 non-null  int64
 3   Baths                    39981 non-null  int64
 4   Living Space             39981 non-null  int64
 5   Address                  39981 non-null  object
 6   City                     39981 non-null  object
 7   State                    39981 non-null  object
 8   Zip Code Population      39981 non-null  int64
 9   Zip Code Density         39981 non-null  float64
 10  County                   39981 non-null  object
 11  Median Household Income  39979 non-null  float64
 12  Latitude                 39981 non-null  float64
 13  Longitude                39981 non-null  float64
dtypes: float64(5), int64(5), object(4)
memory usage: 4.3+ MB

In [7]:
data.describe()

,Zip Code,Price,Beds,Baths,Living Space,Zip Code Population,Zip Code Density,Median Household Income,Latitude,Longitude
count,39981.000000,3.998100e+04,39981.000000,39981.000000,39981.000000,39981.000000,39981.000000,39979.000000,39981.000000,39981.000000
mean,64833.391336,6.227771e+05,3.171682,2.466572,1901.522723,37726.201996,2379.412483,110837.259861,36.435668,-98.080576
std,25614.601116,9.469793e+05,1.308796,1.323042,1211.307257,18672.647445,2946.574792,47309.055715,4.446862,15.061145
min,10013.000000,1.800000e+03,1.000000,1.000000,2.000000,0.000000,0.000000,27475.000000,25.729830,-122.826870
25%,40215.000000,2.650000e+05,3.000000,2.000000,1200.000000,24465.000000,902.400000,76640.000000,33.239850,-111.636310
50%,74136.000000,3.999000e+05,3.000000,2.000000,1639.000000,35049.000000,1588.700000,100405.000000,36.166620,-96.839680
75%,85730.000000,6.749900e+05,4.000000,3.000000,2265.000000,46816.000000,2736.800000,135075.000000,39.283090,-85.656980
max,98199.000000,3.800000e+07,54.000000,66.000000,74340.000000,116469.000000,58289.600000,900203.000000,47.742370,-73.704510

In [8]:
data['Median Household Income'].unique()

array([370046., 249880., 188289., ...,  97792., 195884., 205611.],
      shape=(1723,))

In [9]:
data['Median Household Income'].mean()

np.float64(110837.25986142724)

In [10]:
skewness = data['Median Household Income'].skew()
if abs(skewness) > 0.5:
    data['Median Household Income'].fillna(data['Median Household Income'].median(), inplace=True)
else:
    data['Median Household Income'].fillna(data['Median Household Income'].mean(), inplace=True)

C:\Users\thech\AppData\Local\Temp\ipykernel_2924\3790756941.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Median Household Income'].fillna(data['Median Household Income'].median(), inplace=True)