## Housing Project
#### Data from Kaggle.com

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

In [7]:
# Load dataset
df = pd.read_csv("American_Housing_Data_20231209.csv")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39981 entries, 0 to 39980
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Zip Code                 39981 non-null  int64
 1   Price                    39981 non-null  float64
 2   Beds                     39981 non-null  int64
 3   Baths                    39981 non-null  int64
 4   Living Space             39981 non-null  int64
 5   Address                  39981 non-null  object
 6   City                     39981 non-null  object
 7   State                    39981 non-null  object
 8   Zip Code Population      39981 non-null  int64
 9   Zip Code Density         39981 non-null  float64
 10  County                   39981 non-null  object
 11  Median Household Income  39979 non-null  float64
 12  Latitude                 39981 non-null  float64
 13  Longitude                39981 non-null  float64
dtypes: float64(5), int64(5), object(4)
memory usage: 4.3+ MB

In [9]:
df.columns

Index(['Zip Code', 'Price', 'Beds', 'Baths', 'Living Space', 'Address', 'City',
       'State', 'Zip Code Population', 'Zip Code Density', 'County',
       'Median Household Income', 'Latitude', 'Longitude'],
      dtype='object')

In [10]:
cols_to_drop = ['Zip Code','Address', 'State']
existing_cols = [col for col in cols_to_drop if col in df.columns]
df_clean = df.drop(existing_cols, axis=1)

In [11]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39981 entries, 0 to 39980
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Price                    39981 non-null  float64
 1   Beds                     39981 non-null  int64
 2   Baths                    39981 non-null  int64
 3   Living Space             39981 non-null  int64
 4   City                     39981 non-null  object
 5   Zip Code Population      39981 non-null  int64
 6   Zip Code Density         39981 non-null  float64
 7   County                   39981 non-null  object
 8   Median Household Income  39979 non-null  float64
 9   Latitude                 39981 non-null  float64
 10  Longitude                39981 non-null  float64
dtypes: float64(5), int64(4), object(2)
memory usage: 3.4+ MB

In [12]:
df_clean.head(3)

,Price,Beds,Baths,Living Space,City,Zip Code Population,Zip Code Density,County,Median Household Income,Latitude,Longitude
0,3999000.0,2,3,1967,New York,29563,20967.9,New York,370046.0,40.72001,-74.00472
1,3999000.0,2,3,1967,New York,29563,20967.9,New York,370046.0,40.72001,-74.00472
2,1650000.0,1,1,718,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601

In [13]:
# Separate Features (X) and Target (y)
X = df_clean.drop('Price', axis=1)
y = df_clean['Price']

In [14]:
# Train/Test Split (80/20)
rng = np.random.default_rng(42)  
row_positions = np.arange(X.shape[0])  # all row indices
rng.shuffle(row_positions)  # shuffle in place

split_point = int(0.8 * X.shape[0])  # 80% train, 20% test

X_train_idx, X_test_idx = row_positions[:split_point], row_positions[split_point:]
y_train_idx, y_test_idx = X_train_idx, X_test_idx  # keep y in sync

X_train, X_test = X.iloc[X_train_idx], X.iloc[X_test_idx]
y_train, y_test = y.iloc[y_train_idx], y.iloc[y_test_idx]

In [15]:
# Seperate into numerical-categporical type
X_num_cols = X.select_dtypes(include=['int64', 'float64']).columns.tolist()
X_cat_cols = X.select_dtypes(include=['object', 'category']).columns.tolist()

In [16]:
# One-hot encode categorical columns

X_train = pd.get_dummies(X_train, columns=X_cat_cols, drop_first=True, dtype=int)
X_test = pd.get_dummies(X_test, columns=X_cat_cols, drop_first=True, dtype=int)

# Align columns (in case test set misses some categories)
X_test = X_test.reindex(columns=X_train.columns, fill_value=0)

In [17]:
# Scaling

# Checking min/max of all columns before scaling
def check_feature_range(col):
    return (min(col), max(col))

for col in X_train.columns:
    print(col + "  " + str(check_feature_range(X_train[col])))

Beds  (1, 54)
Baths  (1, 56)
Living Space  (3, 35429)
Zip Code Population  (0, 116469)
Zip Code Density  (0.0, 58289.6)
Median Household Income  (27475.0, 900203.0)
Latitude  (25.72983, 47.74237)
Longitude  (-122.82687, -73.71424)
City_Aledo  (0, 1)
City_Apache Junction  (0, 1)
City_Arlington  (0, 1)
City_Arverne  (0, 1)
City_Astoria  (0, 1)
City_Atascosa  (0, 1)
City_Atlanta  (0, 1)
City_Atlantic Beach  (0, 1)
City_Austin  (0, 1)
City_Baltimore  (0, 1)
City_Bayside  (0, 1)
City_Bellerose  (0, 1)
City_Bellevue  (0, 1)
City_Bennington  (0, 1)
City_Berkeley  (0, 1)
City_Beverly Hills  (0, 1)
City_Blacklick  (0, 1)
City_Broken Arrow  (0, 1)
City_Bronx  (0, 1)
City_Brooklyn  (0, 1)
City_Burbank  (0, 1)
City_Burleson  (0, 1)
City_Calhan  (0, 1)
City_Campbell  (0, 1)
City_Canal Winchester  (0, 1)
City_Canoga Park  (0, 1)
City_Catonsville  (0, 1)
City_Cave Creek  (0, 1)
City_Charlotte  (0, 1)
City_Chatsworth  (0, 1)
City_Chesapeake  (0, 1)
City_Chicago  (0, 1)
City_Choctaw  (0, 1)
City_Clint  (0, 1)
City_College Point  (0, 1)
City_Colorado Springs  (0, 1)
City_Columbus  (0, 1)
City_Converse  (0, 1)
City_Cordova  (0, 1)
City_Corona  (0, 1)
City_Crowley  (0, 1)
City_Culver City  (0, 1)
City_Curtis Bay  (0, 1)
City_Dallas  (0, 1)
City_Del Mar  (0, 1)
City_Denver  (0, 1)
City_Detroit  (0, 1)
City_Dublin  (0, 1)
City_Dundalk  (0, 1)
City_Durham  (0, 1)
City_East Elmhurst  (0, 1)
City_Edmond  (0, 1)
City_El Paso  (0, 1)
City_Elkhorn  (0, 1)
City_Elmhurst  (0, 1)
City_Elmwood Park  (0, 1)
City_Emeryville  (0, 1)
City_Encino  (0, 1)
City_Englewood  (0, 1)
City_Essex  (0, 1)
City_Euless  (0, 1)
City_Fairdale  (0, 1)
City_Far Rockaway  (0, 1)
City_Fisherville  (0, 1)
City_Floral Park  (0, 1)
City_Flushing  (0, 1)
City_Forest Hills  (0, 1)
City_Fort Worth  (0, 1)
City_Fresh Meadows  (0, 1)
City_Fresno  (0, 1)
City_Friant  (0, 1)
City_Galloway  (0, 1)
City_Garner  (0, 1)
City_Glendale  (0, 1)
City_Granada Hills  (0, 1)
City_Grand Prairie  (0, 1)
City_Greendale  (0, 1)
City_Greenfield  (0, 1)
City_Gretna  (0, 1)
City_Grosse Pointe  (0, 1)
City_Grove City  (0, 1)
City_Groveport  (0, 1)
City_Gwynn Oak  (0, 1)
City_Hamtramck  (0, 1)
City_Hanford  (0, 1)
City_Harbor City  (0, 1)
City_Haslet  (0, 1)
City_Haysville  (0, 1)
City_Highland Park  (0, 1)
City_Hilliard  (0, 1)
City_Hollis  (0, 1)
City_Houston  (0, 1)
City_Howard Beach  (0, 1)
City_Huffman  (0, 1)
City_Huntersville  (0, 1)
City_Indianapolis  (0, 1)
City_Jackson Heights  (0, 1)
City_Jacksonville  (0, 1)
City_Jacksonville Beach  (0, 1)
City_Jamaica  (0, 1)
City_Jones  (0, 1)
City_Justin  (0, 1)
City_Kansas City  (0, 1)
City_Keller  (0, 1)
City_Kew Gardens  (0, 1)
City_Knightdale  (0, 1)
City_La Jolla  (0, 1)
City_Lakewood  (0, 1)
City_Las Vegas  (0, 1)
City_Laveen  (0, 1)
City_Lewis Center  (0, 1)
City_Little Neck  (0, 1)
City_Littleton  (0, 1)
City_Lockbourne  (0, 1)
City_Long Beach  (0, 1)
City_Long Island City  (0, 1)
City_Los Angeles  (0, 1)
City_Louisville  (0, 1)
City_Madison  (0, 1)
City_Maize  (0, 1)
City_Manchaca  (0, 1)
City_Manor  (0, 1)
City_Marina Del Rey  (0, 1)
City_Matthews  (0, 1)
City_Memphis  (0, 1)
City_Mesa  (0, 1)
City_Miami  (0, 1)
City_Miami Beach  (0, 1)
City_Middle Village  (0, 1)
City_Milpitas  (0, 1)
City_Milwaukee  (0, 1)
City_Minneapolis  (0, 1)
City_Mission Hills  (0, 1)
City_Missouri City  (0, 1)
City_Mount Hamilton  (0, 1)
City_Mustang  (0, 1)
City_Nashville  (0, 1)
City_National City  (0, 1)
City_New Albany  (0, 1)
City_New Orleans  (0, 1)
City_New River  (0, 1)
City_New York  (0, 1)
City_Newalla  (0, 1)
City_North Hills  (0, 1)
City_North Hollywood  (0, 1)
City_North Las Vegas  (0, 1)
City_Northridge  (0, 1)
City_Oakland  (0, 1)
City_Oakland Gardens  (0, 1)
City_Oklahoma City  (0, 1)
City_Omaha  (0, 1)
City_Ozone Park  (0, 1)
City_Pacific Palisades  (0, 1)
City_Pacoima  (0, 1)
City_Panorama City  (0, 1)
City_Paradise Valley  (0, 1)
City_Parkville  (0, 1)
City_Philadelphia  (0, 1)
City_Phoenix  (0, 1)
City_Pickerington  (0, 1)
City_Piedmont  (0, 1)
City_Pikesville  (0, 1)
City_Playa Del Rey  (0, 1)
City_Playa Vista  (0, 1)
City_Ponte Vedra  (0, 1)
City_Porter Ranch  (0, 1)
City_Portland  (0, 1)
City_Poteet  (0, 1)
City_Powell  (0, 1)
City_Prospect  (0, 1)
City_Queen Creek  (0, 1)
City_Queens Village  (0, 1)
City_Raleigh  (0, 1)
City_Redford  (0, 1)
City_Rego Park  (0, 1)
City_Reseda  (0, 1)
City_Reynoldsburg  (0, 1)
City_Roanoke  (0, 1)
City_Rockaway Park  (0, 1)
City_Rosedale  (0, 1)
City_Sacramento  (0, 1)
City_Saint Francis  (0, 1)
City_Saint Johns  (0, 1)
City_San Antonio  (0, 1)
City_San Diego  (0, 1)
City_San Francisco  (0, 1)
City_San Jose  (0, 1)
City_San Leandro  (0, 1)
City_San Pedro  (0, 1)
City_San Ysidro  (0, 1)
City_Santa Clara  (0, 1)
City_Santa Monica  (0, 1)
City_Schertz  (0, 1)
City_Scottsdale  (0, 1)
City_Seattle  (0, 1)
City_Shepherdsville  (0, 1)
City_Sherman Oaks  (0, 1)
City_South Ozone Park  (0, 1)
City_South Richmond Hill  (0, 1)
City_Spencer  (0, 1)
City_Springfield Gardens  (0, 1)
City_Stafford  (0, 1)
City_Staten Island  (0, 1)
City_Studio City  (0, 1)
City_Sun Valley  (0, 1)
City_Sunland  (0, 1)
City_Sunnyside  (0, 1)
City_Sylmar  (0, 1)
City_Tarzana  (0, 1)
City_Tolleson  (0, 1)
City_Towson  (0, 1)
City_Tucson  (0, 1)
City_Tujunga  (0, 1)
City_Tulsa  (0, 1)
City_Valley Village  (0, 1)
City_Van Nuys  (0, 1)
City_Venice  (0, 1)
City_Virginia Beach  (0, 1)
City_Wake Forest  (0, 1)
City_Washington  (0, 1)
City_Webster  (0, 1)
City_West Hills  (0, 1)
City_West Hollywood  (0, 1)
City_Westerville  (0, 1)
City_Westfield  (0, 1)
City_Whitestone  (0, 1)
City_Wichita  (0, 1)
City_Wilmington  (0, 1)
City_Winnetka  (0, 1)
City_Woodland Hills  (0, 1)
City_Woodside  (0, 1)
City_Yukon  (0, 1)
County_Alameda  (0, 1)
County_Anne Arundel  (0, 1)
County_Anoka  (0, 1)
County_Arapahoe  (0, 1)
County_Atascosa  (0, 1)
County_Baltimore  (0, 1)
County_Bernalillo  (0, 1)
County_Bexar  (0, 1)
County_Bronx  (0, 1)
County_Bullitt  (0, 1)
County_Canadian  (0, 1)
County_Chesapeake  (0, 1)
County_Clark  (0, 1)
County_Clay  (0, 1)
County_Cleveland  (0, 1)
County_Cobb  (0, 1)
County_Collin  (0, 1)
County_Cook  (0, 1)
County_Creek  (0, 1)
County_Dallas  (0, 1)
County_Davidson  (0, 1)
County_DeKalb  (0, 1)
County_Delaware  (0, 1)
County_Denton  (0, 1)
County_Denver  (0, 1)
County_District of Columbia  (0, 1)
County_Douglas  (0, 1)
County_Durham  (0, 1)
County_Duval  (0, 1)
County_El Paso  (0, 1)
County_Fairfield  (0, 1)
County_Fort Bend  (0, 1)
County_Franklin  (0, 1)
County_Fresno  (0, 1)
County_Fulton  (0, 1)
County_Hamilton  (0, 1)
County_Hancock  (0, 1)
County_Harris  (0, 1)
County_Hays  (0, 1)
County_Hendricks  (0, 1)
County_Hennepin  (0, 1)
County_Jackson  (0, 1)
County_Jefferson  (0, 1)
County_Johnson  (0, 1)
County_King  (0, 1)
County_Kings  (0, 1)
County_Los Angeles  (0, 1)
County_Madera  (0, 1)
County_Maricopa  (0, 1)
County_Marion  (0, 1)
County_Mecklenburg  (0, 1)
County_Miami-Dade  (0, 1)
County_Milwaukee  (0, 1)
County_Multnomah  (0, 1)
County_New York  (0, 1)
County_Oklahoma  (0, 1)
County_Oldham  (0, 1)
County_Orleans  (0, 1)
County_Osage  (0, 1)
County_Parker  (0, 1)
County_Philadelphia  (0, 1)
County_Pima  (0, 1)
County_Pinal  (0, 1)
County_Platte  (0, 1)
County_Queens  (0, 1)
County_Richmond  (0, 1)
County_Sacramento  (0, 1)
County_San Diego  (0, 1)
County_San Francisco  (0, 1)
County_Santa Clara  (0, 1)
County_Sarpy  (0, 1)
County_Sedgwick  (0, 1)
County_Shelby  (0, 1)
County_St. Johns  (0, 1)
County_Tarrant  (0, 1)
County_Travis  (0, 1)
County_Tulsa  (0, 1)
County_Union  (0, 1)
County_Virginia Beach  (0, 1)
County_Wagoner  (0, 1)
County_Wake  (0, 1)
County_Washington  (0, 1)
County_Wayne  (0, 1)
County_Williamson  (0, 1)
County_Wyandotte  (0, 1)

In [18]:
# Scale numerical columns using MinMaxScaler
minmax_scaler = MinMaxScaler()
X_train_scaled = X_train.copy()
X_test_scaled = X_test.copy()

# Scale only the original numerical columns
X_train_scaled[X_num_cols] = minmax_scaler.fit_transform(X_train_scaled[X_num_cols])
X_test_scaled[X_num_cols] = minmax_scaler.transform(X_test_scaled[X_num_cols])

In [19]:
# Check min/max of columns after scaling

print("Train ranges AFTER scaling:")
for col in X_num_cols:
    print(col, check_feature_range(X_train_scaled[col]))

Train ranges AFTER scaling:
Beds (0.0, 1.0)
Baths (0.0, 0.9999999999999999)
Living Space (0.0, 1.0)
Zip Code Population (0.0, 1.0)
Zip Code Density (0.0, 1.0)
Median Household Income (0.0, 1.0)
Latitude (0.0, 1.0)
Longitude (0.0, 1.0)

In [20]:
X_train_scaled.shape[1]

325

### Training the model

In [ ]:
# Initialize the weights
class LinearRegression:
    def __init__(self, lr=0.001, num_epochs=1000):
        self.lr = lr
        self.num_epochs = num_epochs
        self.W = None
        self.b = None

    def initialize_params(self, X):
        if isinstance(X, list):
            assert isinstance(X[0], (list, np.ndarray))
            X = np.array(X)

        self.X = X
        n_features = X.shape[1] if len(X.shape) >= 2 else 1
        self.W = np.zeros((n_features, 1))
        self.b = 0.0

    def predict(self, X):
        return np.dot(X, self.W) + self.b

    def compute_loss(self, y, y_pred):
        return np.mean((y - y_pred) ** 2)

    def compute_gradient(self, X, y):
        m,n = X.shape
        dj_dw = np.zeros((n,))
        dj_db = 0

        for i in range(m):
            err = (np.dot(X[i], self.W[i]) + self.b) - y[i]
            for j in range(n):
                dj_dw[j] += dj_dw[j] + err * X[i,j]
            dj_db = dj_db + err

        dj_dw = dj_dw/m
        dj_db = dj_db/m
        return dj_dw, dj_db
    
    def update_params(self, dj_dw, dj_db):
        self.W -= self.lr * dj_dw
        self.b -= self.lr * dj_db

    def fit(self, X, y):
        X = np.array(X)
        y = np.array(y).reshape(-1, 1)

        self.initialize_params(X)

        for _ in range(self.num_epochs):
            y_pred = self.predict(X)
            dj_dw, dj_db = self.compute_gradient(X, y, y_pred)
            self.update_params(dj_dw, dj_db)

    def get_params(self):
        return self.W, self.b

In [24]:
# Convert to numpy for custom LinearRegression
X_train_np = X_train_scaled.to_numpy()
y_train_np = y_train.to_numpy()
X_test_np  = X_test_scaled.to_numpy()
y_test_np  = y_test.to_numpy()

In [26]:
#Train
lr = LinearRegression(lr=1e-4)
lr.fit(X_train_np, y_train_np)

#Evaluate
y_pred = lr.predict(X_test_np)
mse = np.mean((y_test_np.reshape(-1,1) - y_pred)**2)
print("Test MSE:", mse)

Test MSE: nan