## Housing Project
#### Data from Kaggle.com

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Load dataset
df = pd.read_csv("American_Housing_Data_20231209.csv")

In [6]:
df.describe()

,Zip Code,Price,Beds,Baths,Living Space,Zip Code Population,Zip Code Density,Median Household Income,Latitude,Longitude
count,39981.000000,3.998100e+04,39981.000000,39981.000000,39981.000000,39981.000000,39981.000000,39979.000000,39981.000000,39981.000000
mean,64833.391336,6.227771e+05,3.171682,2.466572,1901.522723,37726.201996,2379.412483,110837.259861,36.435668,-98.080576
std,25614.601116,9.469793e+05,1.308796,1.323042,1211.307257,18672.647445,2946.574792,47309.055715,4.446862,15.061145
min,10013.000000,1.800000e+03,1.000000,1.000000,2.000000,0.000000,0.000000,27475.000000,25.729830,-122.826870
25%,40215.000000,2.650000e+05,3.000000,2.000000,1200.000000,24465.000000,902.400000,76640.000000,33.239850,-111.636310
50%,74136.000000,3.999000e+05,3.000000,2.000000,1639.000000,35049.000000,1588.700000,100405.000000,36.166620,-96.839680
75%,85730.000000,6.749900e+05,4.000000,3.000000,2265.000000,46816.000000,2736.800000,135075.000000,39.283090,-85.656980
max,98199.000000,3.800000e+07,54.000000,66.000000,74340.000000,116469.000000,58289.600000,900203.000000,47.742370,-73.704510

In [7]:
df.columns

Index(['Zip Code', 'Price', 'Beds', 'Baths', 'Living Space', 'Address', 'City',
       'State', 'Zip Code Population', 'Zip Code Density', 'County',
       'Median Household Income', 'Latitude', 'Longitude'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39981 entries, 0 to 39980
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Zip Code                 39981 non-null  int64
 1   Price                    39981 non-null  float64
 2   Beds                     39981 non-null  int64
 3   Baths                    39981 non-null  int64
 4   Living Space             39981 non-null  int64
 5   Address                  39981 non-null  object
 6   City                     39981 non-null  object
 7   State                    39981 non-null  object
 8   Zip Code Population      39981 non-null  int64
 9   Zip Code Density         39981 non-null  float64
 10  County                   39981 non-null  object
 11  Median Household Income  39979 non-null  float64
 12  Latitude                 39981 non-null  float64
 13  Longitude                39981 non-null  float64
dtypes: float64(5), int64(5), object(4)
memory usage: 4.3+ MB

In [12]:
df['Address'].unique()

array(['74 GRAND ST APT 3', '140 CHARLES ST APT 4D', '38 JONES ST', ...,
       '3257 22ND AVE W', '3711 26TH PL W APT 102', '2911 25TH AVE W'],
      shape=(38827,), dtype=object)

In [13]:
duplicates = df[df.duplicated(subset='Address', keep=False)]
dup_counts = duplicates['Address'].value_counts()
print(dup_counts)

Address
331 N 127TH ST E               20
1501 W 19TH ST                 16
5535 ACKERFIELD AVE UNIT 26    16
1734 N STANTON PL              16
30 SAVONA WALK                 12
                               ..
10434 11TH AVE SW               2
3735 SW 100TH ST                2
909 5TH AVE UNIT 2205           2
11040 1ST AVE NW # B            2
6103 S NORFOLK ST               2
Name: count, Length: 983, dtype: int64